<h3>Estadisticas:</h3>
<p>Preguntas Totales : <%=stats.totalPreguntas %></p>
<p>Preguntas con comentarios: <%=stats.preguntasComentadas %></p>
<p>Preguntas sin comentarios: <%=stats.preguntasNoComentadas %></p>
<p>Comentarios Totales : <%=stats.totalComentarios %></p>
<p>Nº medio de comentarios por pregunta: <%=stats.promedioComentarios %></p>
